body {
  text-align: left;
  font-family: verdana;
  font-size: 18px;
  background-color: WhiteSmoke  ;
}
  p.one {
      outline-style: double;
      outline-color: red;
      outline-width: thick;
  }
