ul {
    display: inline-block;
    list-style-type: none;
    position: relative;
    left: 30%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DFE5F0 ;

}

li {
  float: left;
    border-right:1px solid #bbb;
    text-align: center;
}

li:last-child {
    border-right: none;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #B3C8F2;
    text-align: center;
}

.active {
    background-color: #DFE5F0;
    text-align: center;
}
